@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Style for the scrollbar container */
::-webkit-scrollbar {
  width: 12px; /* width for vertical scrollbar */
  height: 12px; /* height for horizontal scrollbar */
}

/* Style for the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Style when hovering over the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

